<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myproject">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_blood2"
        android:label="@string/MyProject"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Post"></activity>
        <activity android:name=".ForgotPassword" />
        <activity
            android:name=".BloodInfo"
            android:parentActivityName=".Home" />
        <activity
            android:name=".AboutUs"
            android:parentActivityName=".Home" />
        <activity android:name=".Home" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".Profile" />
        <activity android:name=".FirstScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>